<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>

<h2>Copart - Import Status</h2>

<div th:if="${message}">
    <h3 th:text="${message}"/>
</div>
<div th:if="${messageStatus}">
    <h3 th:text="${messageStatus}"/>
</div>

	<hr/>
	<h3>What's up?</h3>
	<img src="../static/img/checkImportStatus.png" th:src="@{/import/img/checkImportStatus.png}"
		alt="check upload status flow" />

	<p>1. Status request and response (url: /import/status)</p>
</body>
</html>
