<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Copart - Upload Status</h2>

<div th:if="${message}">
    <h3 th:text="${message}"/>
</div>
<div th:if="${messageImport}">
    <h3 th:text="${messageImport}"/>
</div>

<p><a href = "http://localhost:8000/import/status">Check import status</a></p>
<p><a href = "http://localhost:8000/h2/h2-console/">Open db console</a></p>


</body>
</html>
